/* activity */

section#anmeldung {
  top: 0;
  left: 0;
  position: fixed;
  left: 100vw;
  z-index: 900;
  width: 100%;
}
section#anmeldung a.pseudo {
  display: inline-block;
  margin: 10px;
  margin-top: 0;
  color: black;
  font-size: large;
}

section#anmeldung div.paper {
  max-height: 90vh;
  opacity: 0.98;
}
section#anmeldung div.paper > div {
  max-height: 70vh;
  overflow-y: auto;
}

.handle, .dragbox {
  z-index: 50;
}
.back {
  z-index: -1;
}
.front {
  z-index: 1;
}
.hidden {
  visibility: hidden;
}
.nothidden {
  visibility: visible;
}
.display {
  display: block;
}
.nodisplay {
  display: none !important;
}
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 0px;
	z-index: 101;
}
/* end activity */

