/* activity */

.handle, .dragbox {
  z-index: 90;
}
.back {
  z-index: -1;
}
.front {
  z-index: 1;
}
.hidden {
  visibility: hidden;
}
.nothidden {
  visibility: visible;
}
.display {
  display: block;
}
.nodisplay {
  display: none !important;
}
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 0px;
}
/* end activity */

