#topmenu {
  position: fixed;
  top: 0;
}

@media screen and (min-width: 600px) {

#topmenu {
  display: inline-table;
  text-transform: uppercase;
  background: transparent;
  color: white;
  font-size: 11px;

  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
#topmenu .left, #topmenu .right {
  position: absolute;
}
#topmenu .left {
  left: 0.3em;
}
#topmenu .right {
  right: 0.3em;
}

#topmenu a, #topmenu li {
  background: white;
  color: black;
}
#topmenu a:hover {
  text-decoration: underline;
  border-bottom: none;
}

#topmenu a, #topmenu span.menu {
  padding: 6px;
}

#topmenu .burger, #topmenu .burger-check {
  display: none;
}
#topmenu nav ul, #topmenu nav li {
  display: inline-flex;
}
#topmenu nav li {
  margin-left: 4px;
  align-items: center;
}
#topmenu nav li:first-child {
  margin-left: 0;
}
#topmenu nav ul {
  padding-left: 0;
}

#topmenu li.li-box {
  border: solid thin;
  align-items: center;
  background: transparent;
  color: white;
}
li.li-box li:first-child {
  margin-left: 8px;
}
li.li-box li:last-child {
  margin-right: 8px;
}

#topmenu .li-box ul li a {
  padding: 4px;
}

} /* @media min-width 600 */

@media screen and (max-width: 599px) {

#topmenu {
  border-bottom-right-radius: 25px;
  max-width: 280px;
}

#topmenu {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #9ebba2 , #e3969b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #9ebba2, #e3969b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #9ebba2, #e3969b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #9ebba2 , #e3969b); /* Standard syntax */
}

#topmenu .center, #topmenu .right {
  display: none;
}

// example for css burger menu by https://codepen.io/eduardoboucas/

.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 2px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 2px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 2px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

label.burger {
  width: 28px;
  display: block;
  float: left;
  margin: 10px;
  margin-left: 0;
  margin-bottom: 0;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

ul {
  margin: 0;
  padding-left: 2ch;
  list-style-type: disc;
}

nav > ul {
  margin-top: 0.5ch;
}

li {
}

nav {
  font-size: large;
  margin-left: 38px;
  padding-bottom: 0.5ch;
}

#workshopmenu .navigation {
  max-width: 50%;
}

#workshopmenu.navigation img#ws_image {
  max-width: 50%;
}

} /* @media max-width 599 */
