// example by https://codepen.io/eduardoboucas/
.burger-ws {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  /*border-bottom: 4px solid currentColor;*/
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger-ws::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger-ws:before {
  content: "";
  display: block;
  border-bottom: 2px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-ws:after {
  content: "";
  display: block;
  border-bottom: 2px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

label.burger-ws {
  width: 28px;
  display: block;
  float: left;
  margin: 10px;
  margin-top: 16px;
  margin-bottom: 0;
}

.burger-ws-check {
  display: none;
}

.burger-ws-check:checked ~ .burger-ws {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-ws-check:checked ~ .burger-ws:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-ws-check:checked ~ .burger-ws:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

#workshopmenu .navigation {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

#workshopmenu .burger-ws-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

#workshopmenu {
  max-width: 100%;
  max-height: calc( 100vh - 50px );
  overflow-y: hidden;
  padding: 0;
  text-align: initial;
  background: black;
  color: white;
  border: solid thin;
  border-bottom: none;
}

#workshopmenu .navigation {
  max-width: 100%;
  /*max-height: calc( 100vh - 50px - 80px );*/
  overflow-y: auto;
  font-size: initial;
}

#ws_menu_content {
  color: black;
  margin-top: 5px;
  /*background: url(../images/bg_tex2.jpg);
  background-repeat: repeat-y;
  background-size: 100%;*/
}



#ws_menu_title {
  display: inline-block;
  /*
  max-width: calc( 100% - 70px );
  padding: 0.3em 0em 0.3em 0.3em;
  */
}

#ws_menu_subtitle {
  display: inline-block;
  max-width: calc( 100% - 70px );
  padding: 0.3em 0.3em 0.3em 0em;
}

#workshopmenu label {
  text-transform: uppercase;
}

#ws_image {
  max-width: 50%;
  float: left;
}

.ws_content p {
  margin: 2vh;
}

label.ws_content {
  display: inline-block;
  font-size: 16px;
}

#ws_info p {
}
#ws_vita p, #ws_intro p {
  margin-bottom: 3vh;	
}

#ws_vita p {
  font-size: smaller;
}

#ws_image, #ws_content_span {
  margin: 0vh 2vh 1vh 2vh;
}
#ws_intro, #ws_vita {
	clear:both;
}
.ws_hl {
font-size: 1.4em !important;
}
.ws_name {
 font-weight: bold;
}

