/* structure */

section > div.flex > div.paper {
  max-width: calc( 100vw - 40px )
}

section#container_section {
  height: 100vh;
}

#workshopmenu div.handle_container {
}
.handle_container {
  /*
  position: fixed;
  top: 100px;
  margin-left: 1ch;
  height: calc( 100% - 20% - 120px );
  width: 27px;
  overflow:display !important;
  column-count: 1;
  z-index:90;
  column-gap: 10px;
  column-width: 30px;
  */
  margin-bottom: 1ch;
  text-align: center;
}
div.handle_container span {
  display: inline-block;
  position: relative;
}
#signe_div {
  position: fixed;
  bottom: 0;
  width: 33vh;
  height: 9vh;
  background: transparent;
  overflow: hidden;
}
#signe {
  position: absolute;
  right: 0;
  bottom: 0;
}
#bottom_menus {
  width: 100%;
  max-height: calc( 100% - 100px);
  position: fixed;
  bottom: 0;
  text-align: center;
/*
  display: inline-table;
  left: 50%;
  transform: translateX(-50%);
*/
}
#anmeldung_link, #workshopmenu {
  display: block;
}
#anmeldung_link {
  background: white;
  margin-left: auto;
  margin-right: 0;
  display: inline-block;
  max-width: calc( 100% - 40px );
}
/*
#signe_div, #bottom_menus {
  max-width: 45%;
}
*/
.foreground {
  z-index: 100;
}
div#container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
main {
  background: transparent;
  /*padding-bottom: 100vh;*/
}
article {
}
img {
  max-width: 100%;
}
div.scroll-up, div.scroll-down {
  position: fixed;
  width: 100%;
  z-index: 5;
}
div.scroll-down {
  bottom: 0
}
/* end structure */

/* style */

a.pseudo {
  cursor: pointer;
}
div.align_right {
  text-align: right;
}
div.handle_container span {
  width: 20px;
  height: 20px;
  margin: 0.5ch;
  margin-bottom: 0;
}
div.vert-center {
  display: flex;
  align-items: center;
}
#anmeldung_link {
  border-top-left-radius: 25px;
}
.foreground a {
  text-decoration: none;
  color: black;
}
.foreground a:hover {
  border-bottom: solid thin;
}
#topmenu, #anmeldung_link, #workshopmenu{
  padding: 0.3em;
  font-size: 1.7em;
  background: white;
  color: black;
}
span.handle {
  cursor: pointer;
  border-radius: 50%;
  border: solid thin black;
}
p.big {
  font-size: x-large;
}
p.center {
  text-align: center;
}
a {
  color: #9dbaa1;
}
article, div.after_container {
  max-width: 80ch;
}
article, div.paper, div.after_container {
  margin-left: auto;
  margin-right: auto;
    margin-top: 5%;
}
section {
  margin-bottom: 20vh;
}
section:last-child {
  margin-bottom: 0;
}
div.flex {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
section > div.flex > div.paper {
  padding: 2ch;
}
div.paper {
  background: white;
  opacity: 0.9;
}
#topmenu, #anmeldung_link, #workshopmenu {
  opacity: 0.98;
}
p.subtitle {
  font-weight: bold;
}
div.scroll-up {
}
.arrow {
    color: #fff;
    display: block;
    width: 40px;
    margin: 0 auto;
    height: 30px;
    padding-top: 25px;
}
.arrow .left,
.arrow .right {
    background: #fff;
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
}
.arrow .left {
    -webkit-transform: rotate(-20deg) translate(-50%);
    -moz-transform: rotate(-20deg) translate(-50%);
    -ms-transform: rotate(-20deg) translate(-50%);
    -o-transform: rotate(-20deg) translate(-50%);
    transform: rotate(-20deg) translate(-50%);
}
.arrow .right {
    -webkit-transform: rotate(20deg) translate(50%);
    -moz-transform: rotate(20deg) translate(50%);
    -ms-transform: rotate(20deg) translate(50%);
    -o-transform: rotate(20deg) translate(50%);
    transform: rotate(20deg) translate(50%);
}
.scroll-down .arrow .left {
    -webkit-transform: rotate(-20deg) translate(50%);
    -moz-transform: rotate(-20deg) translate(50%);
    -ms-transform: rotate(-20deg) translate(50%);
    -o-transform: rotate(-20deg) translate(50%);
    transform: rotate(-20deg) translate(50%);
}
.scroll-down .arrow .right {
    -webkit-transform: rotate(20deg) translate(-50%);
    -moz-transform: rotate(20deg) translate(-50%);
    -ms-transform: rotate(20deg) translate(-50%);
    -o-transform: rotate(20deg) translate(-50%);
    transform: rotate(20deg) translate(-50%);
}


/* end style */

/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;	
	background-color: #000;
	color: currentColor;
	border-color: white;
	border: 1px;
    padding: 2px 2vh;
    font-size: 16px;
    line-height: 1;
    min-width: 280px;
    text-align: left;
    border-radius: 2px;
	z-index: 80;
    border-style: solid;
	overflow:visible;
white-space: nowrap;
}

[data-tooltip-position="right"]:before{
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
	z-index: 80;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
	z-index: 80;
}
[data-tooltip-position="right"]:after{
    top: 50%;
    margin-top: -6px;
	z-index:80;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
	z-index: 80;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 101;
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

canvas { width: 100%; height: 100%; } 
