/* structure */

#handle_container {
  position: fixed;
  top: 100px;
  margin-left: 1ch;
  height: calc( 100% - 20% - 120px );
  width: 22px;
  overflow: visible;
  column-count: 2;
  column-gap: 10px;
  column-width: 20px;
}
div#handle_container span {
  display: inline-block;
  position: relative;
}
#signe_div {
  position: fixed;
  bottom: 0;
  width: 250px;
  background: transparent;
  height: 20%;
  overflow: hidden;
}
#signe {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: none;
}
#topmenu {
  position: fixed;
  top: 0;
}
#anmeldung_link {
  position: fixed;
  bottom: 1.7em;
  right: 0;
}
#workshopmenu {
	position:fixed;
	bottom:0;
	right:0;
	
}
#signe_div, #anmeldung_link {
  max-width: 45%;
}
.foreground {
  z-index: 10;
}
div#container {
  position: fixed;
  top: 0;
}
main {
  background: transparent;
  padding-bottom: 100vh;
}
article {
}
img {
  max-width: 100%;
}
div.scroll-up {
  position: relative;
  top: 50px;
  width: 75px;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
}

/* end structure */

/* style */

div#handle_container span {
  width: 20px;
  height: 20px;
  margin-bottom: 0.5ch;
}
div.vert-center {
  display: flex;
  align-items: center;
}
#topmenu {
  border-bottom-right-radius: 25px;
  max-width: 250px;
}
#anmeldung_link {
  border-top-left-radius: 25px;
}
.foreground a {
  text-decoration: none;
  color: black;
}
.foreground a:hover {
  border-bottom: solid thin;
}
#topmenu, #anmeldung_link, #workshopmenu{
  padding: 0.3em;
  font-size: 1.7em;
  background: white;
  color: black;
}
span.handle {
  cursor: pointer;
  border-radius: 50%;
  border: solid thin black;
  color: fuchsia;
  background: fuchsia;
  position: absolute;
  height: 3ch;
  width: 3ch;
  bottom: 0;
  left: 0;
}
p.big {
  font-size: x-large;
}
p.center {
  text-align: center;
}
a {
  color: #9dbaa1;
}
article {
  max-width: 80ch;
}
article, div.paper {
  margin-left: auto;
  margin-right: auto;
}
section {
  margin-bottom: 20vh;
}
div.flex {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
div.paper {
  background: white;
  padding: 2ch;
  border-radius: 25px;
}
div.paper {
  opacity: 0.9;
}
#topmenu, #anmeldung_link {
  opacity: 0.9;
}
#topmenu {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #9ebba2 , #e3969b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #9ebba2, #e3969b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #9ebba2, #e3969b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #9ebba2 , #e3969b); /* Standard syntax */
}
#anmeldung_link {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #9ebba2 , #e3969b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #9ebba2, #e3969b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #9ebba2, #e3969b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #9ebba2 , #e3969b); /* Standard syntax */
}
p.subtitle {
  font-weight: bold;
}
div.scroll-up {
  display: none;
}
.arrow {
    color: #fff;
    display: block;
    width: 40px;
    margin: 0 auto;
    height: 30px;
}
.arrow .left,
.arrow .right {
    background: #fff;
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
}
.arrow .left {
    -webkit-transform: rotate(-20deg) translate(-50%);
    -moz-transform: rotate(-20deg) translate(-50%);
    -ms-transform: rotate(-20deg) translate(-50%);
    -o-transform: rotate(-20deg) translate(-50%);
    transform: rotate(-20deg) translate(-50%);
}
.arrow .right {
    -webkit-transform: rotate(20deg) translate(50%);
    -moz-transform: rotate(20deg) translate(50%);
    -ms-transform: rotate(20deg) translate(50%);
    -o-transform: rotate(20deg) translate(50%);
    transform: rotate(20deg) translate(50%);
}

/* end style */

/* activity */

.handle, .dragbox {
  z-index: 90;
}
.back {
  z-index: -1;
}
.front {
  z-index: 1;
}
.hidden {
  visibility: hidden;
}
.nothidden {
  visibility: visible;
}
.display {
  display: block;
}
.nodisplay {
  display: none;
}
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 0px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: darkgray;
    color: #fff;
    padding: 2px 2vh;
    font-size: 12px;
    line-height: 1.;
    min-width: 180px;
    text-align: left;
    border-radius: 2px;
}
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 1;
}
/* end activity */
