.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 200px;
	white-space:nowrap;
    background-color: black;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 2px 2vh;
    /* Position the tooltip */
    position: absolute;
    z-index: 80;
    top: -40px;
    left: -100%;
	
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

