#tutorial{
	font-size: 15px;
	position: relative;
	z-index: 100;
	top: 90px;
	color: white;
	opacity: 0.9;
	text-align: center;
	margin: 2vh;
	animation: blinker 2s ease-in infinite;
}

@keyframes blinker {  
  50% { opacity: 0.5; }
}