#tutorial{
	font-size: 15px;
	position: relative;
	color: white;
	opacity: 0.9;
	text-align: center;
	margin: 2vh;
	max-width: 435px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

.tutorialanimation{
	animation: blinker 2s ease-in infinite;
}

@keyframes blinker {  
  50% { opacity: 0.5; }
}

.tutorial_unanimated{
	font-size: 15px;
	position: relative;
	color: white;
	opacity: 0.;
	text-align: center;
	margin: 2vh;
}
