#tutorial{
	font-size: 15px;
	position: relative;
	z-index: 100;
	color: white;
	opacity: 0.9;
	text-align: center;
	margin: 2vh;
}

.tutorialanimation{
	animation: blinker 2s ease-in infinite;
}

@keyframes blinker {  
  50% { opacity: 0.5; }
}

.tutorial_unanimated{
	font-size: 15px;
	position: relative;
	z-index: 100;
	color: white;
	opacity: 0.;
	text-align: center;
	margin: 2vh;
}
